.header {
    background-color: $colorDarkBlue;
    
    &__container {
        padding-top: 70px;  
        padding-bottom: 45px;
        min-height: 188px;

        @include flex(flex-start, flex-end);

        @include respond-to-min($md) {
            align-items: center;
        }
    }

    &__logo {
        margin-right: 60px;
    }

    &__title {
        @include font(25px);

        color: $colorWhite;
    }

    &__title-br {
        @include respond-to-min($md) {
            display: none;
        }
    }
}