.news {
    padding-top: 47px;
    padding-bottom: 10px;

    &__title {
        @include font(24px, 1.2, bold);

        color: rgb(255, 14, 0);
        text-transform: uppercase;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
        margin-bottom: 5px;
    }

    &__container {        
        max-width: 100%;
        width: 100%;
        background-color: rgba($colorBlack, 0.05);
        overflow-x: hidden;

        @include respond-to-min($md) {
            @include flex(flex-start, stretch, row wrap);
        }
    }
}

.news-item {
    padding: 10px 0 17px 0;
    box-sizing: content-box;
    position: relative;
    display: flex;
    flex-direction: column;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 1px;
        background-color: $colorBlack;
    }

    @include respond-to-min($md) {
        max-width: 390px;
        width: 100%;

        &:nth-child(2n) {
            margin-left: 40px;
        }
    }

    @include respond-to-min($l) {
        min-height: 165px;
        max-width: 346px;

        &:nth-child(2n) {
            margin-left: 0;
        }

        &:nth-child(2n):not(:nth-child(4n)) {
            padding-left: 40px;
            padding-right: 40px;
        } 

        &:last-child {
            border: none;
        }
    }

    &__main {
        @include flex();
        
        margin-bottom: 15px;
    }

    &__photo {
        margin-right: 20px;
    }

    &__title {
        @include font(18px, 1, bold);

        margin-bottom: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__text-content {
        // min-width: 0;

        @include respond-to-min($md) {
            max-height: 130px;
            text-overflow: clip;
            overflow-y: hidden;
        }

        @include respond-to-min($l) {
            max-height: 180px;
            
        }
        
    }

    &__text {
        @include font(14px, 17px);
    }

    &__more-btn {
        margin-top: auto;
        background-image: linear-gradient( 0deg, #b30800 0%, #ff0e00 100%);
        max-width: 150px;
        width: 100%;
        min-height: 20px;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
        color: $colorWhite;
        text-align: center;

        @include font(14px, 20px, bold);

        &:hover {
            background-image: linear-gradient( 180deg,  #b30800 0%, #ff0e00 100%);
        }
    }
}