.promotions {
    background-color: $colorGrayBlue;
    padding-top: 47px;
    padding-bottom: 20px;

    &__main {
        @include flex(flex-start, flex-start, row wrap);

        width: 100%;
    }

    &__title {
        @include font(24px, 1, bold);

        margin-bottom: 15px;
        color: rgb(255, 14, 0);
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    }

    &__item {
        margin-right: 41px;
        margin-bottom: 20px;

        @include respond-to-min($md) {
            margin-bottom: 35px;

            &:nth-child(3n) {
                margin-right: 0;
            }
        }

        @include respond-to-min($l) {
            
            &:nth-child(3n) {
                margin-right: 41px;
            }

            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
}
