footer.footer
    .footer__container.container
        .contacts
            h3.footer__title Контакты
            .contacts__item.contacts__item_phone 
                .contacts__item-dt Телефон:
                .contacts__item-dd +7 (812) 123-45-67
            .contacts__item.contacts__item_email 
                .contacts__item-dt E-mail:
                .contacts__item-dd mail@site.ru
            .contacts__item.contacts__item_skype
                .contacts__item-dt Skype: 
                .contacts__item-dd skype_for_example
            .contacts__item.contacts__item_address
                .contacts__item-dt Адрес: 
                .contacts__item-dd 123456, г. Москва, ул. Строителей, д. 3, кв. 12
        form.feedback-form
            h3.footer__title Напишите нам
            fieldset.feedback-form__container
                input(type="email" placeholder="E-mail").feedback-form__input
                textarea(name="", cols="30", rows="5" placeholder="Введите своё сообщение...").feedback-form__input
                button(type="submit").feedback-form__submit-btn Отправить
