@mixin respond-to-min($value) {
    @media (min-width: $value) {
      @content
    }
  }
  
  @mixin flex($justify: flex-start, $align: flex-start, $flow: row nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-flow: $flow;
  }
  
  @mixin font($size: 14px, $line-height: 1, $font-weight: 400, $font-family: $font-family-base) {
    font: $font-weight #{$size}/#{$line-height $font-family};
  }